body {
  font-family: Arial, sans-serif;
  background-color: #2d2d2d; /* Dark background */
  color: #2d2d2d;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 1200px; /* Adjust for responsiveness */
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ff4d4d; /* Red accent for the title */
  margin-left: 20px;
}

.description p {
  font-size: 1.2rem;
  color: #b3b3b3; /* Lighter gray for description */
  margin-bottom: 2rem;
}

.options {
  display: flex;
  justify-content: space-around; /* To space the cards side by side */
  gap: 20px;
}

.option-card {
  background-color: #3a3a3a;
  padding: 0px 20px 20px 20px;
  border-radius: 8px;
  border: 2px solid #525252;
  width: 45%; /* Each card will take 45% of the width */
  transition: all 0.3s ease;
}

.header {
  background-color: #3a3a3a;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  border: 2px solid #525252;
  transition: all 0.3s ease;
}

.option-card:hover {
  border-color: #ff4d4d; /* Red border on hover */
}

.option-card h2 {
  font-size: 1.8rem;
  color: #ff4d4d; /* Red accent for the card title */
}

.option-card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: #ff4d4d; /* Red button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff1a1a;
}

.interactive-btn {
  background-color: #ff4d4d;
}

.lightweight-btn {
  background-color: #e63946;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.pro {
  color: #3def33;
}

.con {
  color: #f16d83;
}


