@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#treemap-container {
    position: relative;
    overflow: auto;
    min-width: 1000px;
}

#tooltip {
    position: absolute;
    left: 100px;
    top: 100px;
    opacity: 1;
}

.node-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
}