<p>treemap works!</p>
<div>
    Loading track page {{totalPages - pageNumber}}/{{totalPages}} <br>
    Scrobbles Fetched: {{scrobblesFetched}} <br>
    Current Depth: {{currentDepth}} <br>
    Enter Username: <input type="text" id="username" [(ngModel)]="username"/> 
    <button (click)="startFetching()">Submit</button> <br>
    Start Date: <input type="text" id="start-date" [(ngModel)]="startDate"/> End Date: <input type="text" id="end-date" [(ngModel)]="endDate"/> 
    <button (click)="applySettings()">Apply</button><br>
    <button (click)="zoomOut()">Zoom Out</button>
</div>
<div id="treemap-container"></div>
