<p>loading works!</p>
<div>
    Loading track page {{totalPages - pageNumber}}/{{totalPages}} <br>
    Scrobbles Fetched: {{scrobblesFetched}} <br>
    Enter Username: <input type="text" id="username" [(ngModel)]="username"/> 
    <button (click)="startFetching([], {})">Submit</button> <br>
    Start Date: <input type="text" id="start-date" [(ngModel)]="startDate"/> End Date: <input type="text" id="end-date" [(ngModel)]="endDate"/> <br>
    Minimum Artist Scrobbles: <input type="text" id="minArtistScrobbles" [(ngModel)]="minArtistScrobbles"/>
    <button (click)="applySettings()">Apply Settings</button><br>
    <input type="file" class="file-upload" (change)="fileInput($event)"> <br>
    <button (click)="downloadJSON()">Download JSON</button>
</div>