<link href='https://unpkg.com/css.gg@2.0.0/icons/css/info.css' rel='stylesheet'>

<button class="toggle-button collapsed" (click)="toggleSidebar()">
    <span class="icon" [class.active]="sidebarActive">☰</span>
</button>


<div class="sidebar-wrapper">
    <!-- <div class="sidebar-collapsed" *ngIf="!sidebarActive">

    </div> -->
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': !sidebarActive }" [class.active]="sidebarActive">
        <button class="toggle-button" (click)="toggleSidebar()">
            <span class="icon" [class.active]="sidebarActive">☰</span>
        </button>
        <div class="sidebar-header">
            <h1 class="sidebar-title">Last.fm Treemap</h1>
        </div>
        <div class="username-input">
            <label class="loading-text">Enter Username:</label>
            <div class="input-group">
                <input type="text" id="username" class="loading-input" [(ngModel)]="username" />
                <button class="loading-button" (click)="startTopAlbumsTreemap()">Submit</button>
            </div>
        </div>
        <p class="option-text">OPTIONS</p>
        <div class="date-select-wrapper">
            <div class="top-level-wrapper">
                <label class="top-level-text">Top Level:</label>
                <select class="top-level-select" [(ngModel)]="selectedView" (ngModelChange)="setSelectedView($event)">
                    <option *ngFor="let option of viewOptions" [value]="option">{{option}}</option>
                </select>
            </div>
            <div class="min-wrapper">
                <label class="min-text"># of {{ selectedView }} to fetch:</label>
                <input type="text" id="minScrobbles" class="min-input" [(ngModel)]="amount" />
            </div>
        </div>
    </div>
</div>