<link href='https://unpkg.com/css.gg@2.0.0/icons/css/info.css' rel='stylesheet'>

<button class="toggle-button collapsed" (click)="toggleSidebar()">
    <span class="icon" [class.active]="sidebarActive">☰</span>
</button>


<div class="sidebar-wrapper">
    <!-- <div class="sidebar-collapsed" *ngIf="!sidebarActive">

    </div> -->
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': !sidebarActive }" [class.active]="sidebarActive">
        <button class="toggle-button" (click)="toggleSidebar()">
            <span class="icon" [class.active]="sidebarActive">☰</span>
        </button>
        <div class="sidebar-header">
            <h1 class="sidebar-title">Last.fm Treemap</h1>
        </div>
        <div class="username-input">
            <label class="loading-text">Enter Username:</label>
            <div class="input-group">
                <input type="text" id="username" class="loading-input" [(ngModel)]="username" />
                <button class="loading-button" (click)="startFetching([], {}, { artists: {} }, [], [])">Submit</button>
                <button class="loading-button" (click)="startTopAlbumsTreemap()">Top Albums</button>
            </div>
            <p class="or-text">OR</p>
            <input type="file" class="file-upload loading-input" (change)="fileInput($event)">
        </div>
        <div class="info-wrapper">
            <p class="progress-text">
                Loading track page {{totalPages - pageNumber}}/{{totalPages}}
                <br>
                Scrobbles Fetched: {{scrobblesFetched}}
            </p>
            <span class="tooltip-container">
                <p class="progress-text">How to Use:</p>
                <i class="fas fa-info-circle info-icon"></i>
                <!-- You can use an icon library like Font Awesome here -->
                <span class="tooltip">
                    Enter your last.fm username, or upload a JSON file <br>
                    that you have downloaded previously from this site. <br>
                    Loading will commence. <br>
                    <br>
                    <strong>If the scrobble loading progress pauses for<br>
                        too long or dramatically slows down,</strong> download<br>
                    your JSON file, refresh the page, and upload it to resume<br>
                    from where loading left off. <br>
                    <br>
                    Once scrobbles are loaded, you can click on each album/artist <br>
                    to see its songs/albums. You are also able to drag <br>
                    and scroll. Press Ctrl+Shift+Z to return to the parent level, <br>
                    or use the "Return to Parent" button. <br>
                    <br>
                    <strong>Make sure to download the JSON file once loading <br>
                        is finished to skip the wait next time!</strong>

                </span>
            </span>
        </div>
        <div class="loading-bar-container">
            <div class="loading-bar" [style.width]="loadingBarWidth()"></div>
        </div>
        <p class="option-text">OPTIONS</p>
        <div class="date-select-wrapper">
            <div class="date-select">
                <label class="loading-text">Start Date:</label>
                <input type="date" id="start-date" class="date-box" [(ngModel)]="startDate" />
            </div>
            <div class="date-select">
                <label class="loading-text">End Date:</label>
                <input type="date" id="end-date" class="date-box" [(ngModel)]="endDate" />
            </div>
            <div class="top-level-wrapper">
                <label class="top-level-text">Top Level:</label>
                <select class="top-level-select" [(ngModel)]="selectedView" (ngModelChange)="setSelectedView($event)">
                    <option *ngFor="let option of viewOptions" [value]="option">{{option}}</option>
                </select>
            </div>
            <div class="min-wrapper">
                <label class="min-text">Minimum {{ selectedView }} Scrobbles:</label>
                <span class="min-tooltip-container">
                    <i class="fas fa-info-circle info-icon"></i>
                    <span class="min-tooltip">
                        Displays only {{ selectedView }} with at least X many scrobbles.
                    </span>
                </span>
                <input type="text" id="minScrobbles" class="min-input" [(ngModel)]="minScrobbles" />
            </div>
            <div class="min-wrapper">
                <label class="loading-text"># of {{ selectedView }} Displayed:</label>
                <span class="bottom-tooltip-container">
                    <i class="fas fa-info-circle info-icon"></i>
                    <span class="bottom-tooltip">
                        Displays the X most scrobbled {{ selectedView }}. <br>
                        Set to 0 to display all {{ selectedView }}. <br>
                        <strong>Doing so may cause significant lag</strong>, <br>
                        depending on how much data you have.
                    </span>
                </span>
                <input type="text" id="minScrobbles" class="min-input" [(ngModel)]="numNodes" />
            </div>
        </div>
        <div class="bottom-buttons">
            <button class="bottom-button" (click)="applySettings()">Apply Options</button>
            <button class="bottom-button" (click)="downloadJSON()">Download JSON</button>
        </div>
    </div>
</div>