@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import '../app.component.css';

#treemap-container {
    position: relative;
    overflow: auto;
    min-width: 1000px;
    background-color: black;
}

#tooltip {
    position: absolute;
    z-index: 1000;
    left: 100px;
    top: 100px;
    opacity: 1; 
}

.node-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textFitted {
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

#zoom-out-btn {
    position: fixed;
    right: 10px;   /* Adjust as needed */
    bottom: 10px;  /* Adjust as needed */
    z-index: 10;   /* Higher than the treemap z-index to ensure it stays on top */
    /* Additional styling for the button */
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional for better visibility */
}

#current-depth {
    position: fixed;
    right: 10px;   /* Adjust as needed */
    bottom: 70px;  /* Adjust as needed */
    z-index: 10;   /* Higher than the treemap z-index to ensure it stays on top */
    /* Additional styling for the button */
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional for better visibility */
}